#sidebar-wrapper {
  z-index: 1;
  position: fixed;
  width: 375px;
  height: 100vh;
}

#main-sidebar {
  min-height: 330px;
  position: relative;
  display: inline-block;
  background: #2c3e50;
  width: 330px;
  height: 100vh;
  overflow-y: hidden;
}

#toggle-btn {
  display: inline-block;
  vertical-align: top;
}

#page-content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0 0 0 330px;
}

#menu-toggle {
  border-radius: 0;
  background-color: #ecf0f1;
  border: 0 solid transparent;
  outline: none;
}

#wrapper.menuDisplayed {
  #sidebar-wrapper {
    width: 45px;
  }

  #main-sidebar {
    width: 0;
  }

  #page-content-wrapper {
    padding-left: 0;
  }
}

.sidebar-nav {
  padding: 0;
  list-style: none;

  li {
    line-height: 30px;

    a {
      display: inline-block;
      text-decoration: none;
      font-weight: 200;
      font-size: 20px;
      color: #ddd;
    }

    span {
      font-style: italic;
      font-size: 12px;
      color: #ddd;
    }

    a:hover {
      color: #16a085;
    }

    i {
      padding-right: 10px;
      display: inline-block;
      color: #ddd;
    }

    &.active a {
      color: #16a085 !important;
    }
  }
}

.navSubtitle {
  line-height: 0;
  text-indent: 0;
}

#mainMenuContainer {
  text-align: center;
}

.carousel-inner {
  .text-black {
    color: #34495e;
  }
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

#profile {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 50px;
  background: #ecf0f1;
  -webkit-box-shadow: -1px 10px 4px -3px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 10px 4px -3px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 10px 4px -3px rgba(0, 0, 0, 0.23);

  #me {
    text-align: center;
    display: block;
    margin: 15px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  p {
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #34495e;

    &.subtitle {
      font-size: 18px;
      font-style: italic;
    }
  }
}

#footer {
  background: #ecf0f1;
  width: 330px;
  height: 70px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  text-align: center;

  a {
    color: #2c3e50;
    text-indent: 10px;
    display: inline;

    &:active {
      color: #2c3e50;
    }

    &:hover {
      color: #16a085;
    }
  }
}

#copyright {
  padding-top: 10px;
}

#aboutMe,
#portfolio,
#contact {
  padding: 50px 0 0 0;
  height: 100%;

  p {
    font-size: 1em;
  }

  h1 {
    text-align: center;

    &::after {
      content: '';
      display: block;
      background: #16a085;
      height: 2px;
      max-width: 80px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
    }
  }

  div {
    padding-bottom: 25px;
  }
}

.btn-group.filter-items {
  padding-bottom: 40px;
  padding-top: 40px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

@media screen and (max-width: 768px) {
  #profile {
    padding-top: 0;
    margin-bottom: 50px;
    height: 32px;

    p {
      line-height: 32px;
    }

    #me,
    p.subtitle {
      display: none !important;
      visibility: hidden !important;
    }
  }

  #main-sidebar {
    display: inline-block;
    background: #2c3e50;
    width: 0;
    height: 100%;
    overflow-y: hidden;
  }

  #sidebar-wrapper {
    width: 45px;
  }

  #wrapper.menuDisplayed {
    #sidebar-wrapper {
      width: 375px;
    }

    #main-sidebar {
      width: 330px;
    }
  }

  #page-content-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
  }
}

@media screen and (max-height: 330px) {
  #main-sidebar {
    overflow: scroll;
  }
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.size2-2 {
  width: 80px;
  height: 80px;
}

.size11 {
  height: 160px;
  width: 160px;
}

.size12 {
  width: 160px;
  height: 320px;
}

.size21 {
  width: 320px;
  height: 160px;
}

.size22 {
  height: 320px;
  width: 320px;
}

.size13 {
  width: 160px;
  height: 480px;
}

.size31 {
  width: 480px;
  height: 160px;
}

.size23 {
  width: 320px;
  height: 480px;
}

.size24 {
  width: 320px;
  height: 640px;
}

.size32 {
  width: 480px;
  height: 320px;
}

.size33 {
  width: 480px;
  height: 480px;
}

.size34 {
  width: 480px;
  height: 640px;
}

.size43 {
  width: 640px;
  height: 480px;
}

.size35 {
  width: 480px;
  height: 800px;
}

.size53 {
  width: 800px;
  height: 480px;
}

.size36 {
  width: 480px;
  height: 960px;
}

.brick {
  background-color: white;
  float: left;
  cursor: default;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
